absl-py==0.7.1
alembic==1.0.11
aniso8601==7.0.0
astor==0.8.0
certifi==2019.6.16
chardet==3.0.4
Click==7.0
cvlib==0.2.2
dlib==19.17.0
docopt==0.6.2
face-recognition==1.2.3
face-recognition-models==0.3.0
Flask==1.0.3
Flask-SQLAlchemy==2.4.0
gast==0.2.2
google-pasta==0.1.7
grpcio==1.22.0
h5py==2.9.0
idna==2.8
imageio==2.5.0
imutils==0.5.2
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==0.13.2
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Mako==1.0.13
Markdown==3.1.1
MarkupSafe==1.1.1
numpy==1.16.4
opencv-python==4.1.0.25
Pillow==6.0.0
pipreqs==0.4.9
progressbar==2.5
protobuf==3.9.0
python-dateutil==2.8.0
python-editor==1.0.4
pytz==2019.1
PyYAML==5.1.1
requests==2.7.0
scikit-learn==0.21.2
scipy==1.3.0
six==1.12.0
SQLAlchemy==1.3.5
telebot==0.0.3
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
timeloop==1.0.2
urllib3==1.25.3
uWSGI==2.0.18
Werkzeug==0.15.4
wrapt==1.11.2
yarg==0.1.9
